@font-face {
    font-family: "LXGWWenKai-Regular";
    src: "/fonts/LXGWWenKai-Regular.ttf";
}


h1,h2,h3,h4,h5,h6,p,li,a,div {
    /* TODO: 目前使用本地字体有问题, 为了面试先使用默认字体 */
    /* font-family: 'PT Serif','LXGWWenKai-Regular','Noto Serif SC', serif; */
    font-family: 'Cascadia Code', 'JetBrains Mono', sans-serif;
}


.post-title { /* Title of content */
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Cascadia Code', 'JetBrains Mono', sans-serif;
  margin: 0;
  padding: 1em 0 0.9em;
}

h2:before {
    content: "#";
    color: #aaa;
    display: inline;
    position: absolute;
    transform: translateX(-0.92em);
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.container p, .container ul, .container ol {
  line-height: 1.66;
}



#fastSearch {
  display: inline-block;
  /* width: 70%; */
  /* margin: 0 10px 0 0; */
  padding: 0;
}

#fastSearch input {
  width: 100%;
  font-size: 1.0em;
  display: inline-block;
  padding: 6px;

}

#searchResults li {
  list-style: none;
  margin-left: 0em;
  background-color: #ffffff;
  border: 1px solid #666;
}

#searchResults li .title {
  /* font-size: 1.1em; */
  margin: 0;
  display: inline-block;
}

#searchResults {
  visibility: inherit;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-left: 0em;
  max-height: calc(100vh - 120px);
  overflow: hidden;
}

#searchResults a {
  text-decoration: none !important;
  padding: 7px;
  display: inline-block;
  width: 100%;
}

#searchResults a:hover,
#searchResults a:focus {
  outline: 0;
  background-color: #666;
  color: #fff;
}

#search-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
}

@media (max-width: 683px) {
  #fastSearch,
  #search-btn {
    top: 64px;
  }
}

.container {
    padding-left: 24%; /* 和两边稍微隔开一点 */ 
    padding-right: 24%; 
    /* width: 75%; */  /* 有了white-space就不需要 */
    min-height: 100vh;
    white-space: normal;
}

.side-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 22%;
  text-align: left;
  padding: 20px 0 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extra-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 22%;
  text-align: left;
  padding: 20px 0 50px 0;
  /* margin-left: 20px; */
  display: flex;
  flex-direction: column;
  /* justify-content:space-be */
  /* align-items: flex-end; */
}

.nav-link-list {
    overflow: auto;
    flex-grow: 1;
    .nav-link-item {
      margin-bottom: 10px;
      border-right: 2px solid transparent;
      /* padding: 8px 28px 8px 30px; */
      cursor: hand;
      transition: all 0.2s linear;
    }
  }

/***********************
 ***Link****************
 ***********************/
.a-block {
    text-decoration: none; /* 仅悬浮时显式下划线 */
}
.a-block:hover {
    text-decoration: underline; /* 仅悬浮时显式下划线 */
}
.a-block:visited {
    color: blue; /* 点击后颜色不会改变 */
}


/***********************
 ***Table***************
 ***********************/
table {
    table-layout: auto;
    overflow-x: auto;
    /* width: 100%; */
    max-width: 100%;
    margin: .625rem 0;

    /* 解决重叠边框：https://zhuanlan.zhihu.com/p/138310384 */
    border-spacing: 0;
    border-collapse: collapse;
}
table thead {
    background-color: gainsboro;
}
table th, td {
    padding: .3rem 1rem;
    border: 1px solid gray;
}


/***********************
 ***Code Highlight******
 ***********************/
.container pre {
    display: block;
    overflow-x: auto; /* 代码超出长度显示滑块 */
    overflow-wrap: normal;
    word-break: normal;
    tab-size: 4;
    /* background-color: #282c34;
    color: #dcdccc; */
    border-radius: 10px;
    padding: 1.25em 1.5em;
    line-height: 1.5;
}

code {
    /* font-family: jetbrains mono,Menlo,Consolas,dejavu sans mono,bitstream vera sans mono,lucida console,Monaco,droid sans mono,monospace !important; */
    /* font-family: 'Cascadia Code', 'JetBrains Mono', monospace; */
}
/* Inline code Only */
:not(pre) > code {
    font-family: jetbrains mono,Menlo,Consolas,dejavu sans mono,bitstream vera sans mono,lucida console,Monaco,droid sans mono,monospace !important;
    color: #913613;
}


/***********************
 ***Blockquote**********
 ***********************/

blockquote {
    border-left: 0.3rem solid gray;
    background-color: rgba(149, 149, 149, 0.2);
    padding: 3px 10px;
    border-radius: 10px;
    /* 禁止默认的缩进 */
    margin-inline-start: 0; 
    margin-inline-end: 0;
}

blockquote p {
}