<div id="sideContainer" class="side-container">

    <div class="nav-link-list">
        {{/* TODO: back button */}}
        <div class="a-block nav-link-item " href="">
            BACK
        </div>


        {{ range .Site.Menus.main }}
        <div class="a-block nav-link-item">
            <a href="{{ .URL }}">
                {{ .Name }}
            </a>
        </div>
        {{ end }}


        <div class="a-block nav-link-item " href="">
            <div id="fastSearch">
                <input id="searchInput">
                <ul id="searchResults">
                </ul>
            </div>
        </div>

        <div class="toc animated-visibility" :class="{ invisible: scrollY <= 140 }">
            {{- partial "toc.html" . -}}
        </div>

    </div>

</div>

<script src="/js/fuse.js"></script> <!-- download and copy over fuse.min.js file from fusejs.io -->
<script src="/js/fastsearch.js"></script>